body {
  background-color: #F5F5F5;
}

.mainContent{
  margin-top: 40px;
}

.card{
  margin-top: 20px;
}
.inStockCard{
  border-bottom: #4CAF50 4px solid;
  box-shadow: 0 8px 6px -6px #999;
  opacity: 0.9;
}

.outOfStockCard{
  border-bottom: #f44336 4px solid;
  box-shadow: 0 8px 6px -6px #999;
  opacity: 0.9;
}

.medicineStockCard{
  margin-top: 30px;
  box-shadow: 0 8px 6px -6px #999;
  opacity: 0.9;
}


.container {
  max-width: 85em;
  @include make-container();
}
