body {
  background-color: #F5F5F5;
}

.mainContent{
  margin-top: 40px;
}
.navbar{
  box-shadow: 0 2px 2px 0px #212121;
}
.card{
  margin-top: 20px;
}
.card:hover{
  box-shadow: 0 1px 1px -6px #999;
  filter: brightness(95%);
}
.inStockCard{
  border-bottom: #4CAF50 4px solid;
  box-shadow: 0 8px 6px -6px #999;
  opacity: 0.9;
}

.outOfStockCard{
  border-bottom: #f44336 4px solid;
  box-shadow: 0 8px 6px -6px #999;
  opacity: 0.9;
}

.medicineStockCard{
  margin-top: 30px;
  box-shadow: 0 8px 6px -6px #999;
  opacity: 0.9;
}


/*Adjusment to the default container size of bootstrap*/
.container {
  max-width: 85em;
  @include make-container();
}
