<div class="row">
  <div class="col-md">
    <div class="card inStockCard" style="width: 100%;">
      <div class="card-body">
        <h4 class="card-title">Items in stock</h4>
        <p class="card-text">72 items</p>
      </div>
    </div>
  </div>

  <div class="col-md">
    <div class="card outOfStockCard" style="width: 100%;">
      <div class="card-body">
        <h4 class="card-title">Items out of stock</h4>
        <p class="card-text">4 items</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">

  </div>
</div>
